<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
</head>
<body>
    <h1>Login Page</h1>
    <p><a href=auth/facebook>Sign in with Facebook</a></p>
    <p>Or create a new login</p>
    <form action="/" method="post">
        <label>New Account Email Address:</label>
        <input type="text" name="userEmail" />

        <p><label>New Password:</label>
        <input type="password" name="userPassword" /></p>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>